header, .column {
        border: 1px solid black;
        text-align: center;
      }
      header{
        height: 350px;
        background-color: black;
      }
      .column{
        width: 20%;
      }
      head {
        flex:1 100%;
      }
      #container {
        display: flex;
        justify-content: center;
        height: 450px;
      }
      div#container{
        background-color: black;
      }
      body{
        background-color: black;
      }
      @media (max-width: 720px) and (min-width: 600px) {
          header, .column {
          width: 100%;

          }
      }
      button {
        height: 275px;
        width: 200px;

      }
      .PlayerDeck{
        margin-top: 70px;
        background-image: url("whiteCardBackground.jpg");
        //background-position: center;
        color: white;
        font-size: 110%;
      }
      .ChosenCard{
        margin-top: 70px;
        background-image: url("whiteCardBackground.jpg");
        color: white;
        font-size: 110%;
      }
      .PlayerWins {
        color: white;
        margin-top: 30px;
      }
      .PlayerOneHand{
        background-image: url("whiteCardBackground.jpg");
        color: white;
        font-size: 110%;
      }
      .PlayerTwoHand{
        background-image: url("whiteCardBackground.jpg");
        color: white;
        font-size: 110%;
      }
      .PlayerThreeHand{
        background-image: url("whiteCardBackground.jpg");
        color: white;
        font-size: 110%;
      }
      .PlayerFourHand{
        background-image: url("whiteCardBackground.jpg");
        color: white;
        font-size: 110%;
      }
      #RoundInput{
        margin-top: 150px;
      }
      #BlackCardDeck{
        margin-top: 35px;
        background-image: url("blackCardBlackground.jpg");
        //background-position: center;
        color: white;
        font-weight: bold;
        font-size: 110%;

      }
      rounds {
        left: 400px;
      }
